.bill-list-container{
  .main-content{
    .header-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filters-wrapper{
        margin: 20px 0px;
        .filter-option{
          margin-right: 20px;
          width: 200px;
        }
      }
    }
  }
}