.bill-list-container{
  .main-content{
    .header-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 15px;

      .filters-wrapper{
        margin: 20px 0px;
        .filter-option{
          margin-right: 20px;
          width: 200px;
        }
      }
    }
  }
  .bill-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}