@import '../../../styles/colors.scss';

.bill-dialog-box {
  .paper {
    width: 600px;
    min-width: 320px;
    min-height: 180px;

    .field-wrapper{
      margin-bottom: 30px;

      .MuiOutlinedInput-root{
        width: 100%;
      }
    }
    
    .date-picker{
      margin-top: 0px;
    }

    .MuiDialogActions-root{
      margin: 0px 10px;
      .MuiButton-root{
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 10px 30px;
        margin: 0px 5px;
      }
      .submit-btn{
        margin: 0px 5px;
        background: $primary-color;
        color: $contrast-color;
      }
    }
  }
}